<!DOCTYPE html>
<html lang="en">
<title>Practica 2 - VUE</title>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="componentes/menu.js"></script>
    <script src="componentes/footer.js"></script>
    <script src="componentes/producto.js"></script>
    <style>
        .color-box {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: 7px;
            display: inline-block;
        }

        .clic {
            cursor: pointer;
        }

        .quantity button {
            border-radius: 50%;
            display: inline-block;
            width: 30px;
        }

        .quantity div {
            text-align: center;
            min-width: 30px;
            display: inline-block;
            font-weight: bold;
        }

        .buy-box {
            margin: 20px;
        }

        footer {

            text-align: center;
            padding: 30px 10px;
            margin-top: 50px;
            min-height: 100px;
        }

        .container {
            margin-top: 50px;
        }

        .producto-relacionado-precio {
            background: orangered;
            color: white;
            text-align: center;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div id="app">
        <menu-vue :menu="menudata"></menu-vue>
        <!-- <nav class="navbar navbar-expand-lg " :style="`background-color: ${menuColor}`">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">{{marca}}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" v-for="menu of menus">
                            <a class="nav-link" aria-current="page" href="#" v-for="(value,key) of menu">{{value}}</a>
                        </li>
                    </ul>
                </div>

            </div> -->
        </nav>

        <div class="container">

            <div class="row">
                <h3>{{productoSeleccionado.nombre}}</h3>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4 ">
                    <img v-bind:src="productoSeleccionado.imagen" alt="" width="100%">
                </div>
                <div class="col-12 col-sm-6  col-md-8">
                    <h6>{{productoSeleccionado.descripcion}}</h6>
                    <div class="p-3 mb-2 text-white" v-bind:style="precioEstilos">
                        Precio: {{productoSeleccionado.precio}} BOB
                    </div>
                    <h5>Color</h5>
                    <div>
                        <div class="color-box clic" v-for="color of productoSeleccionado.colores"
                            @click="asignarColor(`${color}`, `${productoSeleccionado.id}`)"
                            :style="`background: ${color}`">
                        </div>
                    </div>
                    <h5>Cantidad</h5>
                    <div class="quantity">
                        <button v-on:click="restarCantidad()">-</button>
                        <div> {{counter}}</div> <button v-on:click="addCantidad()">+</button>
                    </div>
                    <div class="buy-box" v-if="counter<=0">
                        <button class="btn btn-primary" disabled>Comprar</button>
                    </div>
                    <div class="buy-box" v-else>
                        <button class="btn btn-primary" v-on:click="comprar()">Comprar</button>
                    </div>

                </div>
            </div>

        </div>



        <div class="container ">

            <div class="row">
                <h4>Productos relacionados</h4>
            </div>
            <div class="row">
                <div class="col" v-for="prod of productosRelacionados">

                    <div class="card" style="width: 18rem;" @click="getProductoById(prod.id)">
                        <div class="card-body">
                            <h5 class="card-title">{{prod.nombre}}</h5>
                            <img v-bind:src="prod.imagen" alt="" width="100%">
                            <p class="card-text">{{prod.descripcion}}</p>
                            <div class="producto-relacionado-precio"> Precio: {{prod.precio}} BOB</div>
                            <div>
                                <div>
                                    <div class="color-box clic" v-for="color of prod.colores" @click=""
                                        :style="`background: ${color}`"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

<footer-vue :menu="menudata"></footer-vue>
        

    </div>

</body>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            marca: "MegaDron",
            menuColor: "lightblue",        
            footerColor: "slategrey",
            precioEstilos: "background: orangered; color: white; font-weight: bold",
            counter: 0,
            deshabilitar: "disabled",
            menus: [
                {
                    etiqueta: "Inicio"

                },
                {
                    etiqueta: "Tienda"

                }
            ],

            menudata: {
                marca: "MegaDron",
                menuColor: "background-color: lightblue",
                footerColor: "background-color: slategrey",
                menus: [
                {
                    etiqueta: "Inicio"

                },
                {
                    etiqueta: "Tienda"

                }
            ],
            },

            productosRelacionados: null,
            idProducto: 0,
            productoSeleccionado: {
                id: null,
                imagen: null,
                nombre: null,
                descripcion: null,
                precio: null,
                colores: null
            },
            pedido: [
                {
                    id: null,
                    cantidad: 0,
                    color: null
                }
            ]

        },
        methods: {
            asignarColor: function (color, id) {
                app.pedido.id = id;
                app.pedido.color = color;
            },
            comprar: function () {
                app.pedido.cantidad = app.counter;
                alert('Esta seguro de comprar el producto ' + app.pedido.id + ' color: ' + app.pedido.color
                    + " una cantidad de " + app.pedido.cantidad);
            },
            addCantidad: function () {
                app.counter += 1;
            },
            restarCantidad: function () {
                if (app.counter > 0) {
                    app.counter -= 1;
                }
            },
            //metodos ApiRest
            getProductos() {
                axios
                    .get("http://localhost:3000/productos")
                    .then(response => {
                        this.productosRelacionados = response.data;
                    })
                    .catch(e => console.log(e))
            },
            getProductoById(idProducto) {
                axios
                    .get("http://localhost:3000/productos/" + idProducto)
                    .then(response => {
                        console.log(response);
                        this.productoSeleccionado.id = response.data.id;
                        this.productoSeleccionado.imagen = response.data.imagen;
                        this.productoSeleccionado.nombre = response.data.nombre;
                        this.productoSeleccionado.descripcion = response.data.descripcion;
                        this.productoSeleccionado.precio = response.data.precio;
                        this.productoSeleccionado.colores = response.data.colores;
                    })
                    .catch(e => console.log(e));
            }

        },
        beforeMount() {
            this.productosRelacionados = this.getProductos();
            this.getProductoById(1);
        },


    });
</script>

</html>